@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }
  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  background: #4e54c8;
  overflow: hidden;
  z-index: -1;
}
.background li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 28s linear infinite;
}

.background li:nth-child(0) {
  left: 53%;
  width: 29px;
  height: 29px;
  bottom: -29px;
  animation-delay: 1s;
}
.background li:nth-child(1) {
  left: 24%;
  width: 52px;
  height: 52px;
  bottom: -52px;
  animation-delay: 4s;
}
.background li:nth-child(2) {
  left: 7%;
  width: 58px;
  height: 58px;
  bottom: -58px;
  animation-delay: 8s;
}
.background li:nth-child(3) {
  left: 3%;
  width: 47px;
  height: 47px;
  bottom: -47px;
  animation-delay: 11s;
}
.background li:nth-child(4) {
  left: 75%;
  width: 63px;
  height: 63px;
  bottom: -63px;
  animation-delay: 16s;
}
.background li:nth-child(5) {
  left: 14%;
  width: 32px;
  height: 32px;
  bottom: -32px;
  animation-delay: 25s;
}
.background li:nth-child(6) {
  left: 35%;
  width: 48px;
  height: 48px;
  bottom: -48px;
  animation-delay: 3s;
}
.background li:nth-child(7) {
  left: 78%;
  width: 56px;
  height: 56px;
  bottom: -56px;
  animation-delay: 29s;
}
.background li:nth-child(8) {
  left: 27%;
  width: 29px;
  height: 29px;
  bottom: -29px;
  animation-delay: 4s;
}
.background li:nth-child(9) {
  left: 50%;
  width: 44px;
  height: 44px;
  bottom: -44px;
  animation-delay: 1s;
}
.background li:nth-child(10) {
  left: 75%;
  width: 20px;
  height: 20px;
  bottom: -20px;
  animation-delay: 5s;
}
.background li:nth-child(11) {
  left: 51%;
  width: 53px;
  height: 53px;
  bottom: -53px;
  animation-delay: 21s;
}
.background li:nth-child(12) {
  left: 64%;
  width: 64px;
  height: 64px;
  bottom: -64px;
  animation-delay: 8s;
}
.background li:nth-child(13) {
  left: 26%;
  width: 50px;
  height: 50px;
  bottom: -50px;
  animation-delay: 56s;
}
.background li:nth-child(14) {
  left: 69%;
  width: 47px;
  height: 47px;
  bottom: -47px;
  animation-delay: 22s;
}
.background li:nth-child(15) {
  left: 40%;
  width: 65px;
  height: 65px;
  bottom: -65px;
  animation-delay: 44s;
}
.background li:nth-child(16) {
  left: 5%;
  width: 62px;
  height: 62px;
  bottom: -62px;
  animation-delay: 80s;
}
.background li:nth-child(17) {
  left: 49%;
  width: 73px;
  height: 73px;
  bottom: -73px;
  animation-delay: 49s;
}
.background li:nth-child(18) {
  left: 52%;
  width: 68px;
  height: 68px;
  bottom: -68px;
  animation-delay: 77s;
}
.background li:nth-child(19) {
  left: 3%;
  width: 63px;
  height: 63px;
  bottom: -63px;
  animation-delay: 67s;
}
